<div class="mt-5 mb-2 row align-items-center">
    <div class="col-auto fw-bold">
        Select chapter
    </div>
    <div class="col-auto">
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    </div>

</div>


<div class="bg-body-secondary rounded p-4">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis orci id odio tempor sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent facilisis ante in ligula interdum, sed efficitur massa pellentesque. Maecenas congue dui nec volutpat suscipit. Morbi lectus magna, rhoncus aliquet condimentum in, vehicula luctus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed rhoncus, sem et vestibulum sagittis, sem ligula semper dolor, nec ultricies nisi nisi ut dui. Vestibulum vulputate eleifend odio vitae euismod. In tellus tortor, dapibus sit amet neque at, laoreet ullamcorper orci. Maecenas aliquet libero eget metus lacinia ornare.

Etiam diam mi, posuere id elementum sit amet, sollicitudin eu mi. Donec mattis molestie vulputate. Ut auctor, elit eget pellentesque feugiat, lectus purus feugiat lectus, euismod laoreet turpis nibh sed lacus. Duis sed massa egestas, sodales tortor eu, pulvinar nunc. Nulla et pharetra turpis. Aenean elit urna, sodales sed enim a, cursus bibendum urna. Suspendisse nec tortor felis. Phasellus vestibulum lacus vitae tempus ultrices. Nulla id rutrum ante.

Nulla facilisi. Etiam maximus mollis rutrum. Morbi non ultricies erat. Praesent quis laoreet felis. In ultricies diam in ex hendrerit viverra. Vestibulum luctus interdum urna nec maximus. Fusce urna lacus, viverra convallis porttitor sed, pharetra vel tellus. Morbi congue augue quis odio laoreet porta. Praesent tempor volutpat dui id gravida. Pellentesque in condimentum nibh, sagittis lacinia turpis. Integer dignissim sagittis enim, porta scelerisque urna ultricies eget. Suspendisse potenti. Aliquam elementum sapien ante, id imperdiet ligula molestie id. Proin vitae pellentesque urna. Ut egestas, magna eu iaculis vulputate, enim libero tincidunt turpis, nec ullamcorper arcu elit sed risus. Aenean tempus diam in lacus vehicula euismod sit amet vel lectus.

Mauris non neque aliquam, convallis neque non, egestas risus. Aenean est lectus, congue eu scelerisque vitae, porta a tellus. Suspendisse nec ultrices lorem, vitae tempus leo. Vestibulum sagittis ullamcorper consectetur. Phasellus nec nisi suscipit, viverra lectus sit amet, pharetra risus. Suspendisse convallis feugiat sapien ut scelerisque. Nam erat arcu, pulvinar non libero quis, sodales sagittis urna. Praesent cursus arcu fermentum sapien tincidunt, at venenatis mauris efficitur. Proin ut dolor quis mauris pulvinar laoreet. In sed venenatis metus. Vestibulum dapibus molestie massa, a vehicula dolor porta ultricies. Integer auctor lacus ut convallis fringilla. Suspendisse maximus justo magna, fermentum dignissim urna condimentum at. Curabitur dignissim, odio sed finibus efficitur, nibh nibh condimentum est, sit amet maximus mauris eros ut dolor. Nulla facilisi. Maecenas eleifend turpis purus, interdum iaculis augue accumsan non.

Vestibulum mi turpis, rhoncus at massa et, iaculis facilisis nisl. Nunc non sapien lacus. Praesent maximus lacus et fringilla convallis. In tristique tellus eget dolor sagittis convallis. Duis est nisl, lobortis mollis leo non, tempus vulputate nibh. Mauris ornare quam sit amet orci sagittis sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer hendrerit molestie velit, sit amet porta lacus commodo ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</div>