<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title> {% block title %} {% endblock %}</title>
    {% endblock %}
</head>
<body>
<!-- Your page content -->
<main class="container">
    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

</main>

{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".book-image").click(function () {
                var bookId = $(this).data('book-id');
                $.ajax({
                    url: '/set_book',
                    type: 'post',
                    data: {'book': bookId},
                    success: function (response) {
                       location.reload()
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });
            });
        });
    </script>
{% endblock %}

<div class="container">

    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>

</body>


</html>